[Desktop Entry]
Type=Application
Name=GeoGuessr
GenericName=Nativefier Collections (https://geoguessr.com)
Exec=nfc-geoguessr
Icon=/usr/share/pixmaps/nfc-geoguessr.png
Categories=Game;Education;Nativefier;
