pkgname = nfc-duolingo
pkgdesc = "Nativefier Collections; Duolingo (duolingo.com)"
pkgver = 1
pkgrel = 1
url = https://duolingo.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source = nfc-duolingo.desktop
sha256sums = 74695605dac5aa946a2f6e3cc2bfb0acc755b71b820c9a4ccfc7ec47d0e500b2