[Desktop Entry]
Type=Application
Name=Duolingo
GenericName=Nativefier Collections (https://duolingo.com)
Exec=nfc-duolingo
Icon=/usr/share/pixmaps/nfc-duolingo.png
Categories=Education;Languages;Nativefier;
