[Desktop Entry]
Type=Application
Name=LotusEaters
GenericName=Nativefier Collections (https://lotuseaters.com)
Exec=nfc-lotuseaters
Icon=/usr/share/pixmaps/nfc-lotuseaters.png
Categories=Network;Video;Nativefier;
