[Desktop Entry]
Type=Application
Name=LinkedIn
GenericName=Nativefier Collections (https://linkedin.com)
Exec=nfc-linkedin
Icon=/usr/share/pixmaps/nfc-linkedin.png
Categories=Network;Office;Utility;Nativefier;
