pkgname = nfc-protonmail
pkgdesc = "Nativefier Collections; ProtonMail (protonmail.com)"
pkgver = 1
pkgrel = 1
url = https://mail.protonmail.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source = nfc-protonmail.desktop
sha256sums = d8d26a02a4ebe58571d4b94409327657c403fc7ed89614cfe02b264994eb06e4