[Desktop Entry]
Type=Application
Name=Proton Mail
GenericName=Nativefier Collections (https://mail.protonmail.com)
Exec=nfc-protonmail
Icon=/usr/share/pixmaps/nfc-protonmail.png
Categories=Mail;Network;Office;Utility;Nativefier;
