[Desktop Entry]
Type=Application
Name=Google Maps (Nativefier Collections)
Exec=nfc-google-maps
Icon=/usr/share/pixmaps/nfc-google-maps.png
Categories=Office;Google;Nativefier;
