pkgname = nfc-kana-pro
pkgdesc = "Nativefier Collections; Kana Pro (kana.pro)"
pkgver = 1
pkgrel = 1
url = https://kana.pro
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source = nfc-kana-pro.desktop
sha256sums = 0cee2cc5c19cd6e3a99a65446bb35414feb6037408038265b7cdfc4d5f52bf81