[Desktop Entry]
Type=Application
Name=Kana Pro (Nativefier Collections)
Exec=nfc-kana-pro
Icon=/usr/share/pixmaps/nfc-kana-pro.png
Categories=Education;Languages;Nativefier;
