pkgname = nfc-desmos
pkgdesc = "Nativefier Collections; Desmos Graph Plotter (desmos.com)"
pkgver = 1
pkgrel = 1
url = https://desmos.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source=nfc-desmos.desktop
sha256sums=18f77441e9884cb7eac8d336cb51994e0716254e8c09b7b34869b2fa4c51e2e5