[Desktop Entry]
Type=Application
Name=Emsworth Slipper Sailing Club (Nativefier Collections)
Exec=nfc-emsworthslippersc
Icon=/usr/share/pixmaps/nfc-emsworthslippersc.png
Categories=Utility;Network;Nativefier;
