[Desktop Entry]
Type=Application
Name=Duolingo (Nativefier)
Exec=duolingo-nativefier
Icon=/usr/share/pixmaps/duolingo-nativefier.png
Categories=Education;Languages;Nativefier;
