pkgname = nfc-facebook
pkgdesc = "Nativefier Collections; Messenger (facebook.com)"
pkgver = 1
pkgrel = 1
url = https://facebook.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source=nfc-facebook.desktop
sha256sums=a00fd44bd0b8fe6a0c1d96e8069fa3cd4225506f882b4b8ed925dd5462ac7fba