[Desktop Entry]
Type=Application
Name=Facebook (Nativefier Collections)
Exec=nfc-facebook
Icon=/usr/share/pixmaps/nfc-facebook.png
Categories=Nativefier;Network;
