pkgname = nfc-google-translate
pkgdesc = "Nativefier Collections; Google Translate (translate.google.com)"
pkgver = 1
pkgrel = 1
url = https://translate.google.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source = nfc-google-translate.desktop
source = nfc-google-translate.png
sha256sums = f3f659c2d41b990e10b3f493b4466b9cd919f19519ae64fd1aa1a293f59e32b7
sha256sums = 67983ca91db1b75c9aa67a98affe3e2cca79509fd78e87e77d85158c8bd5c7ee