[Desktop Entry]
Type=Application
Name=RobertFry Cloud (cloud.robertfry.xyz) (Nativefier Collections)
Exec=nfc-robertfry-cloud
Icon=/usr/share/pixmaps/nfc-robertfry-cloud.png
Categories=Utility;Office;Network;Nativefier;
