pkgname = nfc-leetcode
pkgdesc = "Nativefier Collections; LeetCode (leetcode.com)"
pkgver = 1
pkgrel = 1
url = https://leetcode.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source=nfc-leetcode.desktop
source=nfc-leetcode.png
sha256sums=9e596a4cf072c5f28db52dd8cf3a9607c2341521fcf21386ea820a27a3f5f67d
sha256sums=308c6dd469a3c353eb9b4798023034163d1ba3d1d986dd8679a3a71e98015ed0