pkgname = nfc-reddit
pkgdesc = "Nativefier Collections; Reddit (reddit.com)"
pkgver = 1
pkgrel = 1
url = https://reddit.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source=nfc-reddit.desktop
sha256sums=a22b8730cae911912c2553f2eb8ac89cdd3548e9adcb643c3777855c0511f6b2