[Desktop Entry]
Type=Application
Name=Reddit
GenericName=Nativefier Collections (https://reddit.com)
Exec=nfc-reddit
Icon=/usr/share/pixmaps/nfc-reddit.png
Categories=Nativefier;
