[Desktop Entry]
Type=Application
Name=Amazon (Nativefier Collections)
Exec=nfc-amazon
Icon=/usr/share/pixmaps/nfc-amazon.png
Categories=Development;Education;Utility;Nativefier;
