pkgname = nfc-github
pkgdesc = "Nativefier Collections; GitHub (github.com)"
pkgver = 1
pkgrel = 1
url = https://github.com
arch = x86_64
license = GPL2
makedepends = nodejs-nativefier
source = nfc-github.desktop
sha256sums = ec5ff169831c104c9ac941be0df1f4000874a48165f0300dbbb575a5c3a4644e