[Desktop Entry]
Type=Application
Name=Twitter (Nativefier Collections)
Exec=nfc-twitter
Icon=/usr/share/pixmaps/nfc-twitter.png
Categories=Nativefier;Network;
