[Desktop Entry]
Type=Application
Name=Miro Team Whiteboard (Nativefier Collections)
Exec=nfc-miro
Icon=/usr/share/pixmaps/nfc-miro.png
Categories=Office;Utility;Nativefier;
